//variables
$borderTop : 17px solid #090909;
$font: Arial, Helvetica, sans-serif;
$line-color: #c0c0c0;
$breakpoint-xs: 0px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 1000px;
$breakpoint-xl: 1200px;