//general//
body{
    margin: 0;
    font-family: $font;
}
 .container{
    width: 960px;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
//helpers//
.clearfix::after{
    display: block;
    content: "";
    clear: both;
}
.bb-line{
    border-bottom: 1px solid $line-color;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
#container{
    border-top: 8px solid black;
    margin: 0;
    position: fixed;
    width: 100%;
}
#slider{
    padding-top: 171px;
}