/****************
        Header
*****************/
.correo{
      color: #999898;
      font-size: 13px;
      position: absolute;
      top: 18px;
      right: 0;
}
#header{
      position: relative;
      max-width: 960px;
      width: 100%;
      margin: 0 auto;
      padding-bottom: 20px;
      border-bottom: 1px solid #c0c0c0;
      position: fixed;
      background-color: white;
      padding: 20px 0px;
      top: 8px;

}
.logo{
      max-width: 100%;
      height: auto;
      float: left;
}
.menu{
      float: right;
      list-style: none;
      margin: 46px 0 0;
      padding: 0;
}
.menu a{
      color: #fe9b00;
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
}
.menu a:hover,
.link-active{
      color: black !important;
}
    
.menu li{
      display: inline;
}
    
.menu li + li{
      margin-left: 65px;
}
.icon_menu{
      width: 5%;
      position: absolute;
      top: 55px;
      right: 5%;
      display: none;
}
//btn
.open{
      display: block;
      background-color: rgba(255, 255, 255, 0.9);
      width: 40%;
      height: auto;
      margin: 16.5% 0 0 60%;
      position: absolute;
}
.menu-open{
      padding-right: 5%;
}
.open li{
      list-style: none;
      padding-top: 10px;
      padding-bottom: 10px;
}
.open ul a{
      text-decoration: none;
      color: #fe9b00;
      font-size: 20px;
      font-weight: bold;
      text-transform: uppercase;
      &:hover{
            color: black;
      }
}
.close{
      display: none;
}