/****************
        Info
*****************/
.blog-box1, .blog-box2{
      float: left;
}
.blog-box1 {
      width: 680px;
      margin-right: 50px
}
.blog-box2 {
      width: 230px;
}
#info-box h3 img {
      margin-right: 20px;
      height: 7px;
      padding-bottom: 3px;
}

#info-box {
      padding-bottom: 30px;
}

#info-box h3 {
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bold;
}

#info-box p {
      font-size: 12px;
      line-height: 20px;
}

#info-box img + img {
      margin-left: 10px;
}